# Ignore Visual Studio folder
.vs/

# Ignore server object files
SWD392.Server/obj/
SWD392.Server/bin/
/BO/obj
/DAL/obj
/Repo/obj
/Services/obj
/Services/obj
/BO/bin
/DAL/bin
/Repo/bin
/Services/bin
/swd392.client/obj
